<style type="text/css">
  body { background-color: #ddd; }
  h2 { 
  	text-align: center;
  	font-family: "Helvetica","Arial", sans-serif;
  	font-size: 60px 
  }
  #container { height: 70%; width: 100%; display: table; }
  #inner { vertical-align: middle; display: table-cell; }
  #gauge_div { width: 500px; margin: 0 auto; }

</style>

